h1{
  background-color:cornflowerblue;
  color: white;
  padding: 20px;
}

#citySide {
  background-color:#f7f7f7;
}

#cityHistory {
  font-size: 15px;
}

.dayBlock {
  text-align: center;
  font-size: 15px;
  max-width: 134px;
  min-width: 134px;
  min-height: 162px;
}

.list-group-item {
  text-align: left;
}

#uvIndex {
  font-size: 20px;
}

@media (max-width: 576px) {
  #dashboard {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .dayBlock {
    min-width: 16.6%;
  }
}